.character-info {
  border: 0.125rem solid var(--clr-neutral-9);
}
.character-info__head {
  display: flex;
  padding: 0.625rem;
}
.character-info__head > * + * {
  margin-left: 0.625rem;
}
.character-info__head-img {
  flex: 0 0 auto;
  width: 12.5rem;
  height: min(12.5rem, auto);
}
.character-info__head-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.character-info__head-name {
  margin-bottom: auto;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-lg);
}
.character-info__head-link {
  margin-top: 0.625rem;
  text-align: center;
}
.character-info__text {
  padding-inline: 0.625rem;
}
.character-info__comics {
  margin-top: 0.625rem;
  padding-block: 1.25rem 0.625rem;
  padding-inline: 0.625rem;
  background-color: var(--clr-neutral-9);
  color: var(--clr-neutral-0);
}
.character-info__comics-title {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-lg);
}
.character-info__comics-list {
  padding-block: 0.625rem;
  padding-inline: 1.25rem 0;
}
.character-info__comics-list > * + * {
  margin-top: 0.5em;
}
.character-info__comics-item {
}
.character-info__comics-link {
  line-height: var(--line-height-sm);
  text-decoration: none;
  color: var(--clr-neutral-2);
}
.character-info__comics-link:is(:hover, :focus) {
  color: var(--clr-red-1);
}
