.all-comics {
}
.all-comics__container > * + * {
  margin-top: 2.5rem;
}
.all-comics__title {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-xl);
  text-transform: uppercase;
}
