.character-search {
  display: flex;
  flex-direction: column;
  border: 0.125rem solid var(--clr-neutral-9);
  box-shadow: var(--shadow-lg);
  background: url("/texture.png") center / cover no-repeat;
}
.character-search__form {
  padding: 0.625rem;
  background: var(--clr-neutral-9) url("/texture.png") center / cover no-repeat;
}
.character-search__form > * + * {
  margin-top: 0.625rem;
}
.character-search__form-title {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-xl);
  color: var(--clr-neutral-0);
}
.character-search__form-body {
  display: flex;
}
.character-search__form-body > * + * {
  margin-left: 0.625rem;
}
.character-search__form-input {
  flex: 1 1 auto;
  padding: 0.5em;
  outline-offset: 0.25rem;
}
.character-search__form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 7.5rem;
}
.character-search__main {
  display: flex;
  flex-direction: column;
}
.character-search__main_hidden {
  padding: 0;
  min-height: auto;
}
.character-search__main-spinner {
  align-self: center;
  margin: 1.25rem;
}
.character-search__main-error {
  margin: 0.625rem;
}
.character-search__main-warning {
  margin: 0.625rem;
  padding-left: 0.625rem;
  font-weight: var(--font-weight-lg);
  text-wrap: balance;
  color: var(--clr-red-1);
}
.character-search__main-result {
  margin: 0.625rem;
  display: flex;
  align-items: center;
}
.character-search__main-reuslt-text {
  flex: 1 1 auto;
  padding-left: 0.625rem;
  font-weight: var(--font-weight-lg);
  text-wrap: balance;
}
.character-search__main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 7.5rem;
}
