/* Imposrt fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap");

/* Custom properties */

:root {
  --clr-neutral-0: hsl(0, 0%, 100%);
  --clr-neutral-1: hsl(0, 0%, 90%);
  --clr-neutral-2: hsl(0, 0%, 80%);
  --clr-neutral-3: hsl(0, 0%, 70%);
  --clr-neutral-4: hsl(0, 0%, 60%);
  --clr-neutral-5: hsl(0, 0%, 50%);
  --clr-neutral-6: hsl(0, 0%, 40%);
  --clr-neutral-7: hsl(0, 0%, 30%);
  --clr-neutral-8: hsl(0, 0%, 20%);
  --clr-neutral-9: hsl(0, 0%, 10%);
  --clr-neutral-10: hsl(0, 0%, 0%);

  --clr-red-1: hsl(0, 75%, 55%);
  --clr-red-2: hsl(0, 75%, 45%);
  --clr-red-3: hsl(0, 75%, 35%);

  --font-family-base: "Open Sans", sans-serif;
  --font-family-accent: "Montserrat", sans-serif;

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 4rem;

  --font-weight-sm: 300;
  --font-weight-md: 400;
  --font-weight-lg: 700;
  --font-weight-xl: 900;

  --line-height-sm: 1.2;
  --line-height-md: 1.4;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;

  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/* Minimal reset – <https://piccalil.li/blog/a-modern-css-reset> */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
svg,
video,
picture {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-md);
  line-height: var(--line-height-md);
  color: var(--clr-neutral-9);
  background-color: var(--clr-neutral-0);
}

/* Element/Component classes */

.button {
  border: none;
  padding: 0.5em 1em;
  border: 0.125em solid transparent;
  border-color: var(--clr-neutral-9);
  background-color: var(--clr-neutral-9);
  outline-offset: 0.25rem;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-lg);
  text-decoration: none;
  color: var(--clr-neutral-0);
  cursor: pointer;
}
.button:is(:hover, :focus) {
  border-color: var(--clr-neutral-8);
  background-color: var(--clr-neutral-8);
}
.button:is(:active) {
  border-color: var(--clr-neutral-7);
  background-color: var(--clr-neutral-7);
}
.button_white {
  border-color: var(--clr-neutral-0);
  background-color: var(--clr-neutral-0);
  color: var(--clr-neutral-9);
}
.button_white:is(:hover, :focus) {
  border-color: var(--clr-neutral-2);
  background-color: var(--clr-neutral-2);
}
.button_white:is(:active) {
  border-color: var(--clr-neutral-3);
  background-color: var(--clr-neutral-3);
}
.button_red {
  border-color: var(--clr-red-1);
  background-color: var(--clr-red-1);
}
.button_red:is(:hover, :focus) {
  border-color: var(--clr-red-2);
  background-color: var(--clr-red-2);
}
.button_red:is(:active) {
  border-color: var(--clr-red-3);
  background-color: var(--clr-red-3);
}

/* Layouts styling */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > header,
.wrapper > footer {
  flex: 0 0 auto;
}

/* Utility styling */

.container {
  width: min(75rem, calc(100% - 2.5rem));
  margin-inline: auto;
}

.section {
  padding-block: 2.5rem;
}
