.site-footer {
  padding: 1.25rem;
}
.site-footer__container {
  display: flex;
  flex-direction: column;
}
.site-footer__container > * + * {
  margin-top: 1.25rem;
}
.site-footer__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.site-footer__logo {
  width: 6.25rem;
}
.site-footer__menu {
}
.site-footer__text {
  font-size: var(--font-size-sm);
  color: var(--clr-neutral-5);
}
.site-footer__text a {
  color: inherit;
}
.site-footer__text a:is(:hover, :focus) {
  color: var(--clr-red-2);
}
.site-footer__text a:is(:active) {
  color: var(--clr-red-3);
}
