.site-logo {
  display: flex;
  align-items: center;
}
.site-logo__link {
  text-decoration: none;
  color: inherit;
}
.site-logo__link > * + * {
  margin-left: 1.25rem;
}
.site-logo__link-icon {
  flex: 0 0 auto;
}
