.site-header {
  padding-block: 1.25rem;
}
.site-header__conteiner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.site-header__logo {
  width: 6.25rem;
}
.site-header__menu {
}
