.all-characters {
}
.all-characters__container > * + * {
  margin-top: 2.5rem;
}
.all-characters__title {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-xl);
  text-transform: uppercase;
}
.all-characters__body {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  column-gap: 0.75rem;
}
.all-characters__sidebar {
  order: 1;
  margin: 0.25rem;
  position: sticky;
  top: 1.25rem;
}
