.site-hero {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
}
.site-hero__container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-hero__title {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-2xl);
  text-transform: uppercase;
}
