.random-character {
}
.random-character__container > * + * {
  margin-top: 1.25rem;
}
.random-character__title {
}
.random-character__body {
  display: flex;
  min-height: 13.75rem;
  border: 0.25rem solid var(--clr-neutral-9);
}
.random-character__error {
  flex: 1 1 auto;
  margin: 0.625rem;
}
.random-character__spinner {
  flex: 1 1 auto;
  margin: auto;
}
.random-character__main {
  flex: 0 0 auto;
  display: flex;
  gap: 0.625rem;
  width: 50%;
  padding: 0.625rem;
}
.random-character__main-image {
  width: 12rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.random-character__main-body {
  display: flex;
  flex-direction: column;
}
.random-character__main-name {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-sm);
}
.random-character__main-text {
  margin-top: 0.5rem;
}
.random-character__main-buttom-row {
  display: flex;
  gap: 0.625rem;
  margin-top: auto;
  padding-top: 0.625rem;
}
.random-character__banner {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 50%;
  margin-left: auto;
  padding: 0.625rem 0.625rem 0.625rem 1.25rem;
  background: var(--clr-neutral-9) url("/texture.png") center / cover no-repeat;
  color: var(--clr-neutral-0);
}
.random-character__banner-label {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-sm);
}
.random-character__banner-buttom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 1.25rem;
}
