.site-menu {
}
.site-menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.site-menu__list > * + * {
  margin-left: 1.25rem;
}
.site-menu__item {
}
.site-menu__link {
  outline-offset: 0.25rem;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-lg);
  text-decoration: none;
  color: inherit;
}
.site-menu__link:is(:hover, :focus) {
  color: var(--clr-red-2);
}
.site-menu__link:is(:active) {
  color: var(--clr-red-3);
}
