.splide {
}
.splide__container > * + * {
  margin-top: 2.5rem;
}
.splide__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.splide__title {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-xl);
  text-transform: uppercase;
}
.splide__arrows {
  display: flex;
  align-items: center;
}
.splide__arrows > * + * {
  margin-left: 0.625rem;
}
.splide__arrow {
  border: 0.125rem solid var(--clr-red-1);
  background-color: var(--clr-red-1);
  padding: 0.25rem;
  outline-offset: 0.25rem;
  cursor: pointer;
}
.splide__arrow:is(:hover, :focus) {
  border-color: var(--clr-red-2);
  background-color: var(--clr-red-2);
}
.splide__arrow:is(:active) {
  border-color: var(--clr-red-3);
  background-color: var(--clr-red-3);
}
.splide__arrow > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--clr-neutral-0);
}
.splide__arrow--prev {
  transform: rotate(180deg);
}
.splide__slide {
  padding: 0.25em;
}
.splide__slide-link {
  display: flex;
  flex-direction: column;
  border: 0.125rem solid transparent;
  background-color: var(--clr-neutral-9);
  outline-offset: 0.25rem;
  text-decoration: none;
  color: var(--clr-neutral-0);
}
.splide__slide-link:is(:hover, :focus) {
  background-color: var(--clr-red-1);
}
.splide__slide-img {
  aspect-ratio: 3/4;
  object-fit: cover;
  object-position: center;
}
.splide__slide-body {
  padding: 1em;
  min-height: 5rem;
}
.splide__slide-name {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-lh);
  line-height: var(--line-height-sm);
}
